extends layout

block content
  h1="3D Visual Interface - Web Conference"

  #video_container
    video(id='localVideo' autoplay playsinline)

  .buttons
    p
    button(onclick='joinWebConf()' class="btn btn--orange btn--cubic btn--shadow") Join
    p
    button(onclick='onVideo()' class="btn btn--orange btn--cubic btn--shadow") Video
    p
    button(onclick='onMike()' class="btn btn--orange btn--cubic btn--shadow") Mute

  ul(id='emotion_list')