doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/main.js')
    script(src='/javascripts/face-api.min.js')
  body
    block content